@import '../node_modules/bootstrap/scss/bootstrap';

.w-fit-content {
  width: fit-content;
}
.h-fit-content {
  height: fit-content;
}
.w-1-75-rem {
  width: 1.75rem;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.bg-light-gray {
  background-color: #eeeeee;
}
blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}
